body {
    background-color: lightgray;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Sección de inicio */

/* Sección de contacto */
#contacto {
    background: #2B2B2B;
    display: flex;
    flex-direction: column;
 }

#foto {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    height: fit-content;
}

.fotoperfil {
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    height: 120px;
}

#bloquedatos {
    display: flex;
    flex-direction: column;
}

#intro {

}

#datos {

}

/* Sección de cv */
.titulocv {

}

#experiencia{

}

#bloqueexp {
    
}




@media screen and (min-width: 768px) {
 
}

@media screen and (min-width: 1280px) {
    #contacto {
        flex-direction: row;
    }
    
}