body {
    max-width: fit-content;
}

#contacto {
    background: #2B2B2B;
    /* padding-top: 96px;
    padding-bottom: 66px; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
 }

#foto {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    height: fit-content;
}

.fotoperfil {
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    height: 120px;
}

#bloquedatos {
    display: flex;
    flex-direction: column;
}

#intro {

}

#datos {

}

@media 